.PokemonCard {
  border-radius: 0.5rem;
  border: 1px solid #aaaaaa;

  &_name {
    text-transform: capitalize;
  }

  &_Image {
    display: block;
    margin: auto;
    padding: 1rem;
  }

  &_Content {
    background: #fbfbfb;
  }

  &_Stats {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }

  &_Stat {
    text-transform: capitalize;
    margin-top: 0.2rem;
  }

  &_StatBar {
    height: 0.7rem;
    border-radius: 10px;
    background-color: #cccccc;
  }
}
